//================================================
// Typography Sizes
//================================================
$hero-heading-size: 40px;
$headline-1-size:   35px;
$headline-2-size:   20px;
$sub-head-size:     20px;
$body-copy-size:    16px;

//================================================
// Line Height
//================================================
$hero-headline-line-height: 50px;
$headline-1-line-height:    40px;
$headline-2-line-height:    24px;
$sub-head-line-height:      30px;
$body-copy-line-height:     24px;

//================================================
// Typeface Families
//================================================
$hero-headline:           "freight-text-pro", Georgia;
$headline-1:              "freight-text-pro", Georgia;
$headline-2:              "Oswald", 'Impact';
$sub-head:                "proxima-nova", 'system-ui';
$body-copy:               "proxima-nova", 'system-ui';
$block-quote:             "freight-text-pro", Georgia;