//==================================
// Background Colors
//==================================

//Mobile Only
@media all and (max-width: 480px) {
    .white-bg-mobile {
        background-color: white;
    }
}

//Tablet only
@media all and (min-width: 480px) and (max-width: 768px) { }

//Dekstop Only
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .white-bg-desktop {
        background-color: white;
    }
}   

//All 
.white-bg {
	background-color: white;
}

.blue-bg {
	background-color: $blue;
}

.blue-gradient-bg {
    background: linear-gradient($blue, darken($blue, 4.5%));
    // background: linear-gradient($blue, $dark-blue);
}

.red-bg {
	background-color: $red;
}

.gray-bg {
    background-color: $grey;
}

.yellow-bg {
    background-color: $yellow;
}

.cyan-bg {
    background-color: $cyan;
}

.pattern-bg {
    position: absolute;
    display: block;
    background: blue;
    width: 100%;
    height: 650px;
    z-index: -1;
    bottom: 0;
}