//==================================
// Background Colors
//==================================

//Mobile Only
@media all and (max-width: 480px) {
    .white-bg-mobile {
        background-color: white;
    }
}

//Tablet only
@media all and (min-width: 480px) and (max-width: 768px) { }

//Dekstop Only
@media all and (min-width: 1024px) and (max-width: 1280px) { 
    .white-bg-desktop {
        background-color: white;
    }
}   

//All 
.white-bg {
	background-color: white;
}

.blue-bg {
	background-color: $blue;
}

.blue-gradient-bg {
    background: #003340; /* Old browsers */
    background: -moz-linear-gradient(top, #003340 0%, #0d3643 50%, #0d3643 50%, #0d3643 0%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #003340 0%,#0d3643 50%,#0d3643 50%,#0d3643 0%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #003340 0%,#0d3643 50%,#0d3643 50%,#0d3643 0%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003340', endColorstr='#0d3643',GradientType=0 ); /* IE6-9 */
}

.red-bg {
	background-color: $red;
}

.gray-bg {
    background-color: $grey;
}

.yellow-bg {
    background-color: $yellow;
}

.cyan-bg {
    background-color: $cyan;
}

.pattern-bg {
    position: absolute;
    display: block;    
    width: 100%;
    height: 650px;
    z-index: -1;
    bottom: 0;
    background: url('../images/patterns/Dark-Pattern.png');
    -webkit-mask-image: -webkit-linear-gradient(bottom, rgba($grey, 1), rgba($grey, 0));
    
}