//==================================
// Button Styles
//==================================
.btn-outline-blue-text {
	background: transparent;
	color: $blue;
	border: solid 3px $red;
}

.btn-outline-white-text {
	background: transparent;
	color: white;
	border: solid 3px $red;
}