//==================================
// general helpers
//==================================
//content alignment
.pd-top-60 {
	padding-top: 60px;
}

.pd-bottom-60 {
	padding-bottom: 60px;	
}

.pd-top-bottom-60 {
	padding: 60px auto;
}

.mg-top-bottom-60 {
	margin: 60px auto;
}

.mg-top-60 {
	margin-top: 60px;
}

.mg-bottom-60 {
	margin-bottom: 60px;
}

.pd-top-100 {
	padding-top: 100px;
}

.pd-bottom-100 {
	padding-bottom: 100px;	
}

.pd-top-bottom-100 {
	padding: 100px auto;
}

.mg-top-bottom-100 {
	margin: 100px auto;
}

.mg-top-100 {
	margin-top: 100px;
}

.mg-bottom-100 {
	margin-bottom: 100px;
}

.pd-top-20 {
	padding-top: 20px;	
}

.pd-right-20 {
	padding-right: 20px;	
}

.pd-bottom-20 {
	padding-bottom: 20px;
}

.pd-top-bottom-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pd-left-right-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.mg-top-20 {
	margin-top: 20px;	
}

.mg-bottom-20 {
	margin-bottom: 20px;
}

.mg-top-bottom-20 {
	margin: 20px auto;
}

.mg-top-40 {
	margin-top: 40px;	
}

.mg-bottom-40 {
	margin-bottom: 40px;
}

.mg-top-bottom-40 {
	margin: 40px auto;
}

.pd-top-40 {
	padding-top: 40px;	
}

.pd-bottom-40 {
	padding-bottom: 40px;
}

.pd-top-bottom-40 {
	padding: 40px auto;
}

.no-top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.no-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.no-left {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.no-right {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.full-width {
	width: 100% !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}