//==================================
// general helpers
//==================================
//Mobile Only
@media all and (max-width: 480px) {
	.no-padding-mobile {
		padding: 0 !important;
	}

	.pd-top-20-mobile {
		padding-top: 20px;	
	}
	
	.pd-right-20-mobile {
		padding-right: 20px;	
	}
	
	.pd-bottom-20-mobile {
		padding-bottom: 20px;
	}
	
	.pd-left-20-mobile {
		padding-left: 20px;	
	}
	
	.pd-top-bottom-20-mobile {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.pd-left-right-20-mobile {
		padding-left: 20px;
		padding-right: 20px;
	}

	.pd-top-40-mobile {
		padding-top: 40px;	
	}

	.pd-right-40-mobile {
		padding-right: 40px;
	}
	
	.pd-bottom-40-mobile {
		padding-bottom: 40px;
	}

	.pd-left-40-mobile {
		padding-left: 40px;
	}
	
	.pd-top-bottom-40-mobile {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.pd-left-right-40-mobile {
		padding-left: 40px;
		padding-right: 40px;
	}

	.pd-top-60-mobile {
		padding-top: 60px;	
	}

	.pd-right-60-mobile {
		padding-right: 60px;
	}
	
	.pd-bottom-60-mobile {
		padding-bottom: 60px;
	}

	.pd-left-60-mobile {
		padding-left: 60px;
	}
	
	.pd-top-bottom-60-mobile {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.pd-left-right-60-mobile {
		padding-left: 60px;
		padding-right: 60px;
	}

	.pd-top-100-mobile {
		padding-top: 100px;	
	}

	.pd-right-100-mobile {
		padding-right: 100px;
	}
	
	.pd-bottom-100-mobile {
		padding-bottom: 100px;
	}

	.pd-left-100-mobile {
		padding-left: 100px;
	}
	
	.pd-top-bottom-100-mobile {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.pd-left-right-100-mobile {
		padding-left: 100px;
		padding-right: 100px;
	}

	.mg-top-20-mobile {
		margin-top: 20px;	
	}
	
	.mg-right-20-mobile {
		margin-right: 20px;	
	}
	
	.mg-bottom-20-mobile {
		margin-bottom: 20px;
	}
	
	.mg-left-20-mobile {
		margin-left: 20px;	
	}
	
	.mg-top-bottom-20-mobile {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.mg-left-right-20-mobile {
		margin-left: 20px;
		margin-right: 20px;
	}

	.mg-top-40-mobile {
		margin-top: 40px;	
	}

	.mg-right-40-mobile {
		margin-right: 40px;
	}
	
	.mg-bottom-40-mobile {
		margin-bottom: 40px;
	}

	.mg-left-40-mobile {
		margin-left: 40px;
	}
	
	.mg-top-bottom-40-mobile {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.mg-left-right-40-mobile {
		margin-left: 40px;
		margin-right: 40px;
	}
	.mg-top-60-mobile {
		margin-top: 60px;	
	}

	.mg-right-60-mobile {
		margin-right: 60px;
	}
	
	.mg-bottom-60-mobile {
		margin-bottom: 60px;
	}

	.mg-left-60-mobile {
		margin-left: 60px;
	}
	
	.mg-top-bottom-60-mobile {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.mg-left-right-60-mobile {
		margin-left: 60px;
		margin-right: 60px;
	}

	.mg-top-100-mobile {
		margin-top: 100px;	
	}

	.mg-right-100-mobile {
		margin-right: 100px;
	}
	
	.mg-bottom-100-mobile {
		margin-bottom: 100px;
	}

	.mg-left-100-mobile {
		margin-left: 100px;
	}
	
	.mg-top-bottom-100-mobile {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.mg-left-right-100-mobile {
		margin-left: 100px;
		margin-right: 100px;
	}

	.no-margin-mobile {
		margin: 0 !important;
	}
	
	.no-padding-mobile {
		padding: 0 !important;
	}	
}

//Tablet only
@media all and (min-width: 480px) and (max-width: 768px) { }

//Dekstop Only
@media all and (min-width: 1024px) {
	.pd-top-20-desktop {
		padding-top: 20px;	
	}
	
	.pd-right-20-desktop {
		padding-right: 20px;	
	}
	
	.pd-bottom-20-desktop {
		padding-bottom: 20px;
	}
	
	.pd-left-20-desktop {
		padding-left: 20px;	
	}
	
	.pd-top-bottom-20-desktop {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.pd-left-right-20-desktop {
		padding-left: 20px;
		padding-right: 20px;
	}

	.pd-top-40-desktop {
		padding-top: 40px;	
	}

	.pd-right-40-desktop {
		padding-right: 40px;
	}
	
	.pd-bottom-40-desktop {
		padding-bottom: 40px;
	}

	.pd-left-40-desktop {
		padding-left: 40px;
	}
	
	.pd-top-bottom-40-desktop {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.pd-left-right-40-desktop {
		padding-left: 40px;
		padding-right: 40px;
	}

	.pd-top-60-desktop {
		padding-top: 60px;	
	}

	.pd-right-60-desktop {
		padding-right: 60px;
	}
	
	.pd-bottom-60-desktop {
		padding-bottom: 60px;
	}

	.pd-left-60-desktop {
		padding-left: 60px;
	}
	
	.pd-top-bottom-60-desktop {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.pd-left-right-60-desktop {
		padding-left: 60px;
		padding-right: 60px;
	}

	.pd-top-100-desktop {
		padding-top: 100px;	
	}

	.pd-right-100-desktop {
		padding-right: 100px;
	}
	
	.pd-bottom-100-desktop {
		padding-bottom: 100px;
	}

	.pd-left-100-desktop {
		padding-left: 100px;
	}
	
	.pd-top-bottom-100-desktop {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.pd-left-right-100-desktop {
		padding-left: 100px;
		padding-right: 100px;
	}

	.mg-top-20-desktop {
		margin-top: 20px;	
	}
	
	.mg-right-20-desktop {
		margin-right: 20px;	
	}
	
	.mg-bottom-20-desktop {
		margin-bottom: 20px;
	}
	
	.mg-left-20-desktop {
		margin-left: 20px;	
	}
	
	.mg-top-bottom-20-desktop {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.mg-left-right-20-desktop {
		margin-left: 20px;
		margin-right: 20px;
	}

	.mg-top-40-desktop {
		margin-top: 40px;	
	}

	.mg-right-40-desktop {
		margin-right: 40px;
	}
	
	.mg-bottom-40-desktop {
		margin-bottom: 40px;
	}

	.mg-left-40-desktop {
		margin-left: 40px;
	}
	
	.mg-top-bottom-40-desktop {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.mg-left-right-40-desktop {
		margin-left: 40px;
		margin-right: 40px;
	}
	.mg-top-60-desktop {
		margin-top: 60px;	
	}

	.mg-right-60-desktop {
		margin-right: 60px;
	}
	
	.mg-bottom-60-desktop {
		margin-bottom: 60px;
	}

	.mg-left-60-desktop {
		margin-left: 60px;
	}
	
	.mg-top-bottom-60-desktop {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	.mg-left-right-60-desktop {
		margin-left: 60px;
		margin-right: 60px;
	}

	.mg-top-100-desktop {
		margin-top: 100px;	
	}

	.mg-right-100-desktop {
		margin-right: 100px;
	}
	
	.mg-bottom-100-desktop {
		margin-bottom: 100px;
	}

	.mg-left-100-desktop {
		margin-left: 100px;
	}
	
	.mg-top-bottom-100-desktop {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.mg-left-right-100-desktop {
		margin-left: 100px;
		margin-right: 100px;
	}

	.no-margin-desktop {
		margin: 0 !important;
	}
	
	.no-padding-desktop {
		padding: 0 !important;
	}
 }

//all

.pd-top-10 {
	padding-top: 10px;	
}

.pd-right-10 {
	padding-right: 10px;	
}

.pd-bottom-10 {
	padding-bottom: 10px;
}

.pd-left-10 {
	padding-left: 10px;	
}

.pd-top-bottom-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pd-left-right-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.pd-top-15 {
	padding-top: 15px;	
}

.pd-top-20 {
	padding-top: 20px;	
}

.pd-right-20 {
	padding-right: 20px;	
}

.pd-bottom-20 {
	padding-bottom: 20px;
}

.pd-left-20 {
	padding-left: 20px;	
}

.pd-top-bottom-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pd-left-right-20 {
	padding-left: 20px;
	padding-right: 20px;
}

.pd-top-40 {
	padding-top: 40px;	
}

.pd-right-40 {
	padding-right: 40px;
}

.pd-bottom-40 {
	padding-bottom: 40px;
}

.pd-left-40 {
	padding-left: 40px;
}

.pd-top-bottom-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pd-left-right-40 {
	padding-left: 40px;
	padding-right: 40px;
}

.pd-top-60 {
	padding-top: 60px;	
}

.pd-right-60 {
	padding-right: 60px;
}

.pd-bottom-60 {
	padding-bottom: 60px;
}

.pd-left-60 {
	padding-left: 60px;
}

.pd-top-bottom-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.pd-left-right-60 {
	padding-left: 60px;
	padding-right: 60px;
}

.pd-top-100 {
	padding-top: 100px;	
}

.pd-right-100 {
	padding-right: 100px;
}

.pd-bottom-100 {
	padding-bottom: 100px;
}

.pd-left-100 {
	padding-left: 100px;
}

.pd-top-bottom-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.pd-left-right-100 {
	padding-left: 100px;
	padding-right: 100px;
}

.mg-top-10 {
	margin-top: 10px;	
}

.mg-right-10 {
	margin-right: 10px;	
}

.mg-bottom-10 {
	margin-bottom: 10px;
}

.mg-left-10 {
	margin-left: 10px;	
}

.mg-top-bottom-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mg-left-right-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mg-top-20 {
	margin-top: 20px;	
}

.mg-right-20 {
	margin-right: 20px;	
}

.mg-bottom-20 {
	margin-bottom: 20px;
}

.mg-left-20 {
	margin-left: 20px;	
}

.mg-top-bottom-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mg-left-right-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.mg-top-40 {
	margin-top: 40px;	
}

.mg-right-40 {
	margin-right: 40px;
}

.mg-bottom-40 {
	margin-bottom: 40px;
}

.mg-left-40 {
	margin-left: 40px;
}

.mg-top-bottom-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mg-left-right-40 {
	margin-left: 40px;
	margin-right: 40px;
}
.mg-top-60 {
	margin-top: 60px;	
}

.mg-right-60 {
	margin-right: 60px;
}

.mg-bottom-60 {
	margin-bottom: 60px;
}

.mg-left-60 {
	margin-left: 60px;
}

.mg-top-bottom-60 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.mg-left-right-60 {
	margin-left: 60px;
	margin-right: 60px;
}

.mg-top-100 {
	margin-top: 100px;	
}

.mg-right-100 {
	margin-right: 100px;
}

.mg-bottom-100 {
	margin-bottom: 100px;
}

.mg-left-100 {
	margin-left: 100px;
}

.mg-top-bottom-100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.mg-left-right-100 {
	margin-left: 100px;
	margin-right: 100px;
}

.no-top {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.no-bottom {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.no-left {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.no-right {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.full-width {
	width: 100% !important;
}

.no-margin {
	margin: 0 !important;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.no-padding {
	padding: 0 !important;
}