//================================================
// Jumbotron
//================================================
.basic-template-jumbotron {
    height: 100vh;

    min-height: 700px;
    height: 750px;
    padding-top: 185px;  
    
    .banner-text {
        margin: 60px auto 0 auto;
    }
}

.jumbotron-btn {
    margin-top: 60px;
}

.grid-break-card {
    margin-top: -150px;
}

.jumbotron.jumbotron-filler {
    height: 50vh;
    background-color: $slate;
}
//================================================
// Tabs
//================================================
.tab-container {
    background: white;
    li.active a::after {
        content: '';
        border-bottom: solid 3px $red;
        display: block;
        width: 40px;
        margin: 8px auto 0 auto;
    }
}

a.tab-arrow.no-bottom.red-text {
    text-align: right;
}