.location-template-jumbotron {
    min-height: 100vh;    
    height: 100%;    
    padding-top: 250px;
    background: 
    linear-gradient(
      rgba($blue, 0.05), 
      rgba($blue, 1)
    ),
    url('../images/backgrounds/locations-placeholder.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .banner-text {
        margin: 60px auto 0 auto;
    }
}