.navbar {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 10px $blue;
    background-color: transparent;

    &::before {
        margin: 0 auto;    
        border: solid 4px $red;
        position: absolute;
        top: -5px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 150px;
        z-index: 1;
    }
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar-toggle {
    z-index: 3;
}