.navbar {
    padding-top: 60px;
    padding-bottom: 60px;
    border-top: solid 10px $blue;
    background-color: transparent;
    border-bottom: solid 1px white;
    position: absolute;
    top: 0;
    width: 100%;

    &::before {
        margin: 0 auto;    
        border: solid 4px $red;
        position: absolute;
        top: -5px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 150px;
        z-index: 1;
    }

    li a {
        font-size: 16px;
        margin-top: 5px;
    }
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
    height: 65px;
}

.navbar-toggle {
    z-index: 3;
}

@media all and (max-width: 480px) {
    nav.navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}